.wrapper__main {
  padding: 41px 71px;
}

.greetings {
  font-size: 24px;
  font-weight: 500;
}

.main__customers {
  margin-top: 40px;
}

.customers.main {
  background: #ffffff;
  box-shadow: 0px 10px 60px rgba(226, 236, 249, 0.5);
  border-radius: 30px;
}
