.wrapper__main {
  margin: 41px 20px 0 71px;

  @media (max-width: 1370px) {
    margin: 41px 20px 0 auto;
  }

  @media (max-width: 1370px) {
    margin: 0 auto;
  }
}

.customers-wrapper {
  @media (max-width: 1312px) {
    padding: 0 120px;
  }

  @media (max-width: 1312px) {
    padding: 0 120px;
  }

  @media (max-width: 1130px) {
    padding: 0 80px;
  }

  @media (max-width: 1040px) {
    padding: 0 20px;
  }
}

.table-wrapper {
  overflow-x: auto;
}

.greetings {
  display: block;
  width: max-content;
  font-size: 24px;
  font-weight: 500;

  @media (max-width: 1312px) {
    padding-top: 20px;
    margin: auto;
  }
}

.main__customers {
  margin-top: 51px;

  @media (max-width: 1312px) {
    margin: 51px auto;
  }
}

.customers {
  position: relative;
  padding: 30px 38px;
  width: 892px;
  background: #ffffff;
  box-shadow: 0px 10px 60px rgba(226, 236, 249, 0.5);
  border-radius: 30px;

  @media (max-width: 1312px) {
    width: auto;
  }

  .customers__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 540px) {
      flex-direction: column;
      width: 180px;
    }

    .customers__title-name {
      font-weight: 600;
      font-size: 22px;
      letter-spacing: -0.01em;
    }

    .customers__members-status {
      position: relative;
      top: 5px;
      font-weight: 400;
      font-size: 14px;
      color: #16c098;
      letter-spacing: -0.01em;
    }

    .customers__input {
      margin-top: 9px;
      margin-right: 15px;
      display: flex;
      align-items: center;
      background: #f9fbff;
      border-radius: 10px;
      width: 216px;
      height: 38px;

      @media (max-width: 540px) {
        margin: 25px auto;
      }

      img {
        margin-left: 8px;
      }

      input {
        margin-left: 6px;
        width: 100%;
        height: 100%;
        border: none;
        background: none;
        font-size: 12px;
        outline: none;
      }
    }
  }

  .customers__table {
    margin-top: 31px;
  }

  .table {
    width: 100%;
    text-align: left;
    font-size: 14px;
    border-collapse: collapse;

    @media (max-width: 1312px) {
      width: 800px;
      margin: 0 auto;
    }

    .table__column-1 {
      width: 169px;
    }
    .table__column-2 {
      width: 130px;
    }
    .table__column-3 {
      width: 153px;
    }
    .table__column-4 {
      width: 205px;
    }
    .table__column-5 {
      width: 138px;
    }
    .table__column-6 {
      text-align: center;
      width: 75px;
    }

    th {
      font-weight: 500;
      color: #b5b7c0;
    }

    thead tr {
      height: 48px;
      font-weight: 500;
      font-size: 14px;
      letter-spacing: -0.01em;

      &::after {
        content: '';
        position: absolute;
        margin-top: 48px;
        left: 0;
        right: 0;
        border-bottom: 1px solid #eeeeee;
      }
    }

    tr {
      font-size: 14px;
      height: 69px;
    }

    td {
      border-bottom: 1px solid #eeeeee;
    }

    .table__status-indicator {
      width: 79px;
      height: 27px;
      margin-left: auto;
      margin-right: auto;
      background: #ffc5c5;
      border: 1px solid #df0404;
      border-radius: 4px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #df0404;
    }

    .table__status-indicator_active {
      background: rgba(22, 192, 152, 0.38);
      border: 1px solid #00b087;
      color: #008767;
    }
  }

  .customers__pagination {
    margin-top: 31px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;

    @media (max-width: 660px) {
      display: block;
    }

    .customers__showing-data {
      font-weight: 500;
      font-size: 14px;
      color: #b5b7c0;
      letter-spacing: -0.01em;

      @media (max-width: 660px) {
        text-align: center;
        margin-left: auto;
      }
    }

    .customers__pages {
      margin-top: -2px;
      margin-right: 3px;
      display: flex;

      @media (max-width: 660px) {
        margin-top: 20px;
        justify-content: center;
      }

      .page-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 12px;
        width: 25px;
        height: 25px;
        background: #f5f5f5;
        border: 1px solid #eeeeee;
        border-radius: 4px;
        font-size: 12px;
        cursor: pointer;
      }

      .page-btn_active {
        color: #fff;
        background: #5932ea;
      }

      span {
        margin-top: 4px;
        margin-left: 14px;
        font-size: 14px;
      }
    }
  }
}
